<body style="background: linear-gradient(to bottom, #f8b6d2, #ffffff); font-family: 'Poppins', sans-serif;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 28rem; background-color: #ffe3ed; border-radius: 20px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); border: 3px solid #d63384;">
      <div class="card-body">
        <h1 class="card-title text-center mb-3" style="color: #d63384; font-weight: bold;">Calculadora de IMC</h1>

        <div class="input-group mb-3">
          <input type="number" class="form-control form-control-lg" placeholder="Digite seu peso (kg)..." [(ngModel)]="peso" style="border-radius: 10px; border: 2px solid #e64980;">
        </div>

        <div class="input-group mb-3">
          <input type="number" class="form-control form-control-lg" placeholder="Digite sua altura (m)..." [(ngModel)]="altura" style="border-radius: 10px; border: 2px solid #e64980;">
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
          <button type="button" class="btn" style="background-color: #e64980; color: white; padding: 10px 0; width: 180px; font-size:18px; border-radius: 12px; font-weight: bold; border: 2px solid #d63384;" (click)="calcularIMC()">Calcular IMC</button>
        </div>

        <div *ngIf="imc" class="text-center">
          <label class="mb-3" style="color: #d63384; font-weight: bold; font-size: 1.5rem;">Seu IMC:</label>
          <p style="font-weight: bold; font-size: 1.5rem; padding: 12px; border-radius: 10px; box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2); width: 220px; margin: 0 auto; background-color: #ffe3ed; color: #d63384; border: 2px solid #d63384;">
            {{ imc | number: '1.1-2' }}
          </p>

          <p class="fw-bold mt-3" style="color: #d63384; font-size: 1.3rem;">{{ classificacao }}</p>
          <img [src]="imagem" style="max-width: 150px; border-radius: 10px; border: 2px solid #d63384;">
        </div>
      </div>
    </div>
  </div>
</body>

